<!DOCTYPE html>
<html>
<head>
  <title>Joos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>

<% flash.each do |key, value| %>
<%= content_tag(:div, value, class: "alert alert-#{key} container") %>
<% end %>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
<%= yield %>

</div> <!-- /container -->

<div style="background-color: white; width: 100%">
	<div class="container" style="padding: 30px 0px;">
		<%= render 'layouts/footer' %>
	</div>
</div>

</body>
</html>
